body {
    background-color:#F4F4F4;
    line-height: 1.42857143;
}

.top-right-header li, .menu-navbar li {
    list-style: none;
    display: inline;
    margin:5px;
}

.editProfile-navbar li  {
    list-style: none;
    display: inline;
    margin:5px;
}

.editProfile-navbar i {
    margin-right:30px;
    color:white;
}


.top-right-header li > a ,
.top-right-header li {
    color:#021c2c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    background-color: transparent;
}

#l01:hover , #l02:hover , .menu-navbar a:hover ,.top-right-header li > a:hover {
    color: #ac2925;
    text-decoration: none;
}



.menu-navbar a:active{
    text-decoration: none;
}


.menu-navbar li > a {
    font-size:17px;
    color:white;
    text-shadow: 0 1px 0 rgba(242,242,242,.7);
    margin-left: 10px;
}

.card-content , .Profile-card {

    margin: 50px;
}

.Profile-card  {
    padding: 30px;
}

.profile-card-body{
    background-color: white;
    border-color: 1px solid whitesmoke;
    padding: 30px;
    font-family: yanone;
    font-size: 18px;

}


.card-body  {
    background-color: white;
    border-color: 1px solid whitesmoke;
    padding: 25px;
    font-family: yanone;
    font-size: 18px;

}

.card-body:hover , .profile-card-body:hover{
    box-shadow: 0 5px 7px 1px rgba(0,0,0,.3);

}

.form-control:focus{border-color:#ac2925; box-shadow: none; }

.form-group-signup input , .form-group-signup select{
    border-radius: 0px;
    height:40px;
}

.main-button input:hover ,  .profile-button input:hover{
    color: #fff;
    border-color: #ac2925;
    background-color: red;
}

.form-group-signup input, .form-group-signup select , .form-group-signup label, .main-button input{
    margin-top:20px;
}

.form-group-editProgile label , .form-group-editProgile select , .form-group-editProgile input , .profile-button{
    margin-top: 20px;
    border-radius: 0px;
    height:40px;
}

.bottom-container h3:hover , .bottom-container p:hover {
    color: #ac2925;
}

.signIn-card {
    margin-top:20px;
}

.editProfile-navbar > li  {
    list-style: none;
    display: inline;
    color: #ac2925;
}
.signIn-body {
    background-color: white;
    border-color: 1px solid whitesmoke;
    padding: 40px;
    font-family: yanone;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.form-group-signIn input, .form-group-signIn label ,.signin-main-button input , .form-group-signIn a,p{
    margin-top:20px;
}

.form-group-signIn p > a:hover {
    text-decoration: none;
}


.signIn-body:hover {
    box-shadow: 0 5px 7px 1px rgba(0,0,0,.3);
}

.ResetPassCard {
    margin-top:40px;
    margin-left: 80px;
}


.ResetPassCard-content {
    background-color: white;
    border-color: 1px solid whitesmoke;
    padding: 40px;
    font-family: yanone;
    font-size: 20px;
}

.ResetPassCard-content {
    box-shadow: 0 5px 7px 1px rgba(0,0,0,.3);
}

