.top-right-header li, .menu-navbar li{
    list-style: none;
    display: inline;
    margin:5px;
}


.top-right-header li > a ,
.top-right-header li {
    color:#021c2c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    background-color: transparent;
}

#l01:hover , #l02:hover , .menu-navbar a:hover {
    color: orangered;
    text-decoration: none;
}

.menu-navbar li > a {
    font-size:18px;
    color:white;
    text-shadow: 0 1px 0 rgba(242,242,242,.7);
    margin-left: 15px;
}

.menu-navbar a:hover {

}

