<div class="container-fluid" style="margin:0px 6%;">
    <div class="signUpTitle" >
        <ul>
            <li style="border-bottom:2px solid #ef3d2c;margin-top:50px;margin-left:-40px;margin-bottom:-10px;list-style:none;font-size:20px;"><a style="background-color:#021c2c;color:white;padding:15px;" href="#">JOIN US TODAY</a></li>
        </ul>
        <hr style="border-bottom: 2px solid #ef3d2c;">
    </div>


    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form action="">
                        <div class="row">
                            <div class="col-dm-12">
                                <h3 style="padding-left:15px;">Login Detail</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class='form-group-signup'>
                                            <label for="FirstName">First Name</label>
                                            <input type="text" ng-model="SignUp_data.FirstName"  class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-6">
                                    <div class='form-group-signup'>
                                            <label for="LastName">Last Name</label>
                                            <input type="text"  class="form-control" ng-model="SignUp_data.LastName">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <div class='form-group-signup'>
                                                <label for="UserName">User Name</label>
                                                <input type="text"  class="form-control" ng-model="SignUp_data.UserName">
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class='form-group-signup'>
                                                <label for="Email">Email</label>
                                                <input type="email"  class="form-control" ng-model="SignUp_data.Email">
                                        </div>
                                </div>
                        </div>
                            <div class="row">
                                    <div class="col-md-6">
                                            <div class='form-group-signup'>
                                                    <label for="Password">Password</label>
                                                    <input type="password"  class="form-control" ng-model="SignUp_data.Password">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class='form-group-signup'>
                                                <label for="Gender">Gender</label>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                                <label class="radio-inline">
                                                                        <input type="radio" name="optradio">Male
                                                                </label>
                                                        </div>
                                                        <div class="col-xs-4">
                                                                <label class="radio-inline">
                                                                        <input type="radio" name="optradio">Female
                                                                </label>
                                                        </div>

                                                        <div class="col-xs-4">
                                                                <label class="radio-inline">
                                                                        <input type="radio" name="optradio">Other
                                                                </label>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-dm-12">
                                            <h3 style="padding-left:15px;">Personal Detail</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                                <div class='form-group-signup'>
                                                    <label for="sel1">Country</label>
                                                        <select class="form-control" id="sel1">
                                                          <option>India</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class='form-group-signup'>
                                                    <label for="sel2">State</label>
                                                        <select class="form-control" id="sel2">
                                                                <option>Select a state</option>
                                                                <option>Andhra Pradesh</option>
                                                                <option>Arunachal Pradesh</option>
                                                                <option>Assam</option>
                                                                <option>Bihar</option>
                                                                <option>Chandigarh</option>
                                                        </select>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-6">
                                                    <div class='form-group-signup'>
                                                            <label for="City">City</label>
                                                            <input type="text"  class="form-control" ng-model="SignUp_data.City">
                                                    </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class='form-group-signup'>
                                                        <label for="Gender">Date of Birth</label>
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                        <select class="form-control" id="sel2">
                                                                                <option>Day</option>
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                                <option>5</option>
                                                                                <option>6</option>
                                                                                <option>7</option>
                                                                                <option>8</option>
                                                                                <option>9</option>
                                                                                <option>10</option>
                                                                                <option>11</option>
                                                                                <option>12</option>
                                                                        </select>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                        <select class="form-control" id="sel2">
                                                                                <option>Month</option>
                                                                        </select>
                                                                </div>

                                                                <div class="col-xs-4">
                                                                        <select class="form-control" id="sel2">
                                                                                <option>Year</option>
                                                                        </select>
                                                                </div>
                                                            </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <div class='form-group-signup'>
                                                            <div class="row">
                                                                    <div class="col-xs-9">
                                                                            <label for="MobileNumber">Mobile Number</label>
                                                                            <input type="number"  class="form-control" ng-model="SignUp_data.MobileNumber">
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                            <input style="margin-top:69px;" type="button" class="btn btn-info" value="Verify">
                                                                        </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class='form-group-signup'>
                                                                <label for="VerificationCode">Enter your Verification Code</label>
                                                                <input type="text"  class="form-control">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <div class='form-group-signup'>
                                                            <label class="checkbox-inline ">
                                                            <input type="checkbox" style="margin-top:-7;width:15px;border-radius:0px;">       I confirm that I am above 18 years of age and agree to the terms & conditions of ChaseBid.Com.</label>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="main-button">
                                                            <input type="button" value="SIGN UP" ng-click="saveSignUpData()" style="border-radius:0px;background-color:#021c2c;color:white;float:left;padding: 2px 30px;
                                                            font-size: 20px;">
                                                        </div>
                                                    </div>
                                                </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h2><b>Signup using SOCIAL MEDIA</b></h2>
                    <div  class="right-side-card" style="background-color:#f7f7f7;margin-top:20%;">
                            <div class="card-block" style="padding:30px;color:white;">
                                    <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" href="https://api.twitter.com/oauth/authenticate?oauth_token=RVvp_AAAAAAA15W9AAABXxAuKqc" class="btn btn-info btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-twitter"></i>TWITTER</a>
                                    <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" class="btn btn-danger btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-google"></i> GOOGLE +</a>
                                    <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" class="btn btn-primary btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-facebook-f"></i> FACEBOOK</a>
                            </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
</div>
