<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="signIn-card">
                <div class="signIn-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                        <div class="col-dm-12">
                                            <h3><b style="margin-left:16px;">User Login</b></h3>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                        <div class='form-group-signIn'>
                                                <label for="Username">Username</label>
                                                <input style="border-radius:0px;height:40px; "type="text" ng-model="SignIn_Data.Username"  class="form-control">
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-12">
                                            <div class='form-group-signIn'>
                                                    <label for="Password">Password</label>
                                                    <input style="border-radius:0px;height:40px;" type="text" ng-model="SignIn_Data.Password"  class="form-control">
                                            </div>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                    <div class='form-group-signIn'>
                                                            <label class="checkbox-inline ">
                                                            <input type="checkbox" style="width:20%;border-radius:0px;margin-top:0px;">Remember me</label>
                                                    </div>
                                            </div>
                                            <div class="col-xs-6">
                                                    <div class="signin-main-button">
                                                            <input type="button" value="LOG IN" ng-click="saveSignInData()" style="border-radius:0px;background-color:#021c2c;color:white;float:right;height:40px;
                                                            font-size: 18px;padding:10px;">
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-8">
                                        <div class='form-group-signIn'>
                                            <p>
                                                <a style="color: #ef3d2c;" href="https://www.chasebid.com/en/users/login/forgot">Forgot Password?</a>
                                                |
                                                <a style="color: #ef3d2c" href="https://www.chasebid.com/en/users/register">Sign Up</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div  class="right-side-card" style="padding:20px;background-color:#f7f7f7;">
                                    <h2 style="text-align:center;"><b>Signup using SOCIAL MEDIA</b></h2>
                                        <div class="card-block" style="padding-top:20px;color:white;">
                                                <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" href="https://api.twitter.com/oauth/authenticate?oauth_token=RVvp_AAAAAAA15W9AAABXxAuKqc" class="btn btn-info btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-twitter"></i>TWITTER</a>
                                                <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" class="btn btn-danger btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-google"></i> GOOGLE +</a>
                                                <a style=" text-shadow: 0 1px 0 rgba(242,242,242,.7);font-size:20px;margin-top:20px;float:center;height:40px;" class="btn btn-primary btn-block text-left"><i style="float:left;font-size:20px;" class="fa fa-facebook-f"></i> FACEBOOK</a>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="rightside-img" style="height:41px;width:400px;padding:20px;">
                <div class="title">
                        <label for="howitworks">How it works</label>
                    </div>
                    <img src="../images/howitworks.png" alt="howitworks " style="width:100%;">
                </div>
        </div>
    </div>
</div>
